@page "/"

<PageTitle>Index</PageTitle>
<div style="text-align: center;">
  <img src="https://html.sammy-codes.com/images/small-profile.jpeg" style="height: 150px; border-radius: 90%; border: 10px solid #3d3d93;">
</div>
<h1>EyeBook</h1>

<p>Velkommen til vores post-websted, hvor du kan udforske en verden af spændende indhold</p>
