/* /Pages/CreatePost.razor.rz.scp.css */
.card[b-uzy05ijp57] {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 500px;
    padding: 25px;
    text-align: center;
    margin: auto;
    margin-top: 90px;
    border-radius: 45px;
    background-color: #9395cc; /* Baggrundsfarve til kortet */
    border: 6px solid #ddd; /* Kortkant */
}

.field[b-uzy05ijp57] {
    margin-top: 20px;
}

.acceptbtn[b-uzy05ijp57] {
    background-color: #3d3d93;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.button-row[b-uzy05ijp57] {
    margin-top: 35px;
}
/* /Pages/CreateUser.razor.rz.scp.css */
.card[b-8ioxdxedwk] {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 350px;
    padding: 25px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    background-color: #9395cc; /* Baggrundsfarve til kortet */
    border-radius: 40px; /* Afrundede kanter */
    border: 6px solid #ddd; /* Kortkant */
}

.field[b-8ioxdxedwk] {
    margin-top: 20px;
    border-radius:30px;

}

.acceptbtn[b-8ioxdxedwk] {
    background-color: #462696;
    border: none;
    border-radius:30px;
    padding: 20px 40px;
    color: #fff; /* Tekstfarve */
    cursor: pointer; /* Ændrer markøren ved hover */
}

.button-row[b-8ioxdxedwk]{
    margin-top: 35px;
}
/* /Pages/Index.razor.rz.scp.css */
body[b-xzgi4u3qtl]
{
    background-color: #86a5bd;
}
h1[b-xzgi4u3qtl] {
    color: #3d3d93;
    text-align: center;
    margin-top: 100px;
    font-size: 60px;
}
p[b-xzgi4u3qtl] {
    color: #3d3d93;
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
}
/* /Pages/Login.razor.rz.scp.css */
.card[b-ggyo7swwbw] {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 350px;
    padding: 25px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    background-color: #9395cc; /* Baggrundsfarve til kortet */
    border-radius: 40px; /* Afrundede kanter */
    border: 6px solid #ddd; /* Kortkant */
}

.field[b-ggyo7swwbw] {
    margin-top: 20px;
    border-radius:30px;
}

.loginbtn[b-ggyo7swwbw] {
    background-color: #462696;
    border: none;
    border-radius:30px;
    padding: 20px 40px;
    color: #fff; /* Tekstfarve */
    cursor: pointer; /* Ændrer markøren ved hover */
}

.loginbtn:hover[b-ggyo7swwbw] {
    transform: scale(1.1);
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.4);
    background-color: #4c51af; /* Ændrer baggrundsfarve ved hover */
}
/* /Pages/LoginButtons.razor.rz.scp.css */
.icon[b-lhd5b4yoyf] {
    width: 30px;
    height: 30px; /* Tilføjer en højde for at sikre, at ikonet forbliver kvadratisk */
    cursor: pointer;
    margin: 5px; /* Tilføjer lidt mellemrum omkring ikonet */
    transition: transform 0.2s; /* Tilføjer en glidende overgangseffekt */
}

.icon:hover[b-lhd5b4yoyf] {
    transform: scale(1.2); /* Forstør ikonet lidt ved hover */
}
/* /Pages/MyPosts.razor.rz.scp.css */
.filter-bar[b-vfu6vvyj55] {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px;
    display: inline-block;
    margin: 10px;
}

.funnel[b-vfu6vvyj55]{
    width:30px;
    height:30px;
    cursor: pointer;
}

.filter[b-vfu6vvyj55] {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    text-align: center;
}
/* /Pages/ViewPosts.razor.rz.scp.css */
.filter-bar[b-agzgme1hb0] {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px;
    display: inline-block;
    margin: 10px;
}

.funnel[b-agzgme1hb0]{
    width:30px;
    height:30px;
    cursor: pointer;
}

.filter[b-agzgme1hb0] {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    text-align: center;
}
/* /Pages/ViewUsers.razor.rz.scp.css */
.user-card[b-os2xeex0iu] {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    display: inline-block;
    margin: 25px;
    padding: 15px;
    border-radius: 10px;
    width: 300px; /* Adjust the width to make the card larger */
    height: 200px; /* Adjust the height to make the card taller */
    font-size: 20px; /* Adjust the font size to make the text bigger */
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-2ar46ifnr2] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-2ar46ifnr2] {
    flex: 1;
}

.sidebar[b-2ar46ifnr2] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-2ar46ifnr2] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-2ar46ifnr2]  a, .top-row[b-2ar46ifnr2]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-2ar46ifnr2]  a:hover, .top-row[b-2ar46ifnr2]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-2ar46ifnr2]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-2ar46ifnr2] {
        display: none;
    }

    .top-row.auth[b-2ar46ifnr2] {
        justify-content: space-between;
    }

    .top-row[b-2ar46ifnr2]  a, .top-row[b-2ar46ifnr2]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-2ar46ifnr2] {
        flex-direction: row;
    }

    .sidebar[b-2ar46ifnr2] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-2ar46ifnr2] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-2ar46ifnr2]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-2ar46ifnr2], article[b-2ar46ifnr2] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-oede2f5y32] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-oede2f5y32] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-oede2f5y32] {
    font-size: 1.1rem;
}

.oi[b-oede2f5y32] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-oede2f5y32] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-oede2f5y32] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-oede2f5y32] {
        padding-bottom: 1rem;
    }

    .nav-item[b-oede2f5y32]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-oede2f5y32]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-oede2f5y32]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-oede2f5y32] {
        display: none;
    }

    .collapse[b-oede2f5y32] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-oede2f5y32] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
